/* ---------------------------------------*/
/* BASIC SETUP */
/* ---------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/* ------------------------ --------------*/
/* REUSABLE COMPONENTS */
/* ---------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}



/* ----- HEADINGS ------ */

h1{
    font-weight: 300;
    text-transform: uppercase;
   
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}


/* ----- BUTTONS ------ */
.btn:link,.btn:visited{
    display:inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    
    transition: background-color 0.2s,border 0.2s, color 0.2s ;
}

.btn-full:link,.btn-full:visited {
    background-color: #d63031;
    border:1px solid #d63031;
    color:#fff;
    margin-right: 15px;
}

.btn-ghost:link,.btn-ghost:visited{
    border:1px solid #d63031;
    color:#d63031;
}

.btn:hover,.btn:active{
    background-color:#be2627;
}

.btn-full:hover,.btn-full:active {
    border:1px solid #be2627 ;
}

.btn-ghost:hover,.btn-ghost:active{
    border:1px solid #be2627;
    color:#fff;
}


/* ------------------------ --------------*/
/* HEADER */
/* ---------------------------------------*/


header{
background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/finance-1.jpg);
background-size: cover;
background-position: center center;
background-attachment: fixed;
background-repeat: no-repeat;
height:100vh; 
}

.hero-text-box{
    position: absolute;
    width:1140px;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
}


.logo{
    position: relative;
    height:250px;
    width:auto;
    margin-right: auto;
    bottom:43px;
    right:140px;
}

.main-nav{
    float:right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,.main-nav li a:visited {
    padding: 8px 0;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,.main-nav li a:active {
   border-bottom: 2px solid #d63031;
}

.dropbtn{
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    margin-top:12px;
    display: none;
    position: absolute;
    margin-left: 10px;
    background-color: #d63031;
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: #fff;;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight:300;
}


.dropdown-content a:hover {
    background-color: #f1f1f1;
    color:#d63031;
    font-weight: 400;
}

.fortune{
  text-align:center;
}

/* ------------------------ --------------*/
/* COUNTDOWN*/
/* ---------------------------------------*/

.timer-text{
    color:#fff;
    text-align: center;
    position: relative;
    top:250px;
    font-weight:400;
    width:250px;
    margin-left: auto;
    left:17px;
}

#countdown{
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    position: relative;
    top:260px;
    margin-left: auto;
    left: 14px;
    border: 2px outset #000;
    width:250px;
    padding: 8px 20px;
    background-color: #000;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

 .reach-us{
  margin-top:50%;
 }
 
/* ------------------------ --------------*/
/* EVENTS DETAILS */
/* ---------------------------------------*/


.events{
    margin-bottom: 30px;
    text-align: center;
    margin-top: 50px;
}

.events p{
    color:#fff;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 30px;
    margin-top: 50px;
}

.events h3{
    margin-top: 30px;
    width:235px;
    margin-top: 30px;
    text-align: left;
    font-size:120%;
    color:#fff;
    
}


/* MAIN EVENT PAGE

 .text-top{
   
   margin-left:50%;
 }
 
 .text-top a{
 padding:8px 20px;
 border:2px solid #d63031;
 text-decoration:none;
 color:#d63031;
 }

*/
/*EVENT HEADERS WITH RULES*/

.event1-header,.event2-header,.event4-header,.event5-header,.event8-header,.event9-header{
background-size: cover;
background-position: center center;
background-attachment: fixed;
background-repeat: no-repeat;
height: 100%;
}

.event1-header{
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/quiz.jpg);
}

.event2-header{
background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/6666.jpg);
}

.event4-header{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/casestudy-target.jpg);
}

.event5-header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/wisdom-finance.jpg);
}

.event8-header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/poliself.jpg);
}

.event9-header{
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/fired.jpg);
}

/*EVENT HEADERS WITHOUT RULES*/

.event3-short,.event6-short,.event7-short{
background-size: cover;
background-position: center center;
background-attachment: fixed;
background-repeat: no-repeat;
height: 100vh;
}

.event3-short{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/childs-brain1.jpg);
}

.event6-short{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(img/meet.jpg);
}

.event7-short{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(img/ad.jpg);
}

.rules{
margin-top: -5px;
}

.round1{
    
}
.short-info{
    margin-top:30px;
    text-align: left;
    color: #fff;
    font-size: 110%;
    line-height: 30px;
    font-weight:400;
}

.register{
  
    position:relative;
    text-decoration: none;
    font-size: 20px;
    color:#fff;
    border:2px solid #fff;
    width:110px;
    padding: 8px 20px;
    transition: background-color 0.2s;
    text-align: center;
    background-color: #000;
    margin:auto;
}

/*ABOUT US*/
.about-us{
    background-color: #000;
    height:200px;
    margin-bottom: 0;
    border-bottom:5px solid #d63031;
}

.enquire{
    margin-top: 60px;
    text-align: center;
    font-size:25px;
}

.dtu,.asets{
    margin-top: 0;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url(img/dtu.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

.dtu h2,.asets h2{
position: relative;
top:20px;
color:#f1c40f;
}

.dtu-photo{
 font-weight: 400;
 border: 5px solid rgba(0,0,0,0.2);
 right:80px;
 position: relative;
 margin-top: 150px;
 width:600px;
}



.assets-photo{
    position: relative;
    right:50px;
    float: left;
    margin-top: 120px;
    height:500px;
}

.assets-content,.dtu-content{
    margin-bottom: 20px;
    padding: 8px 20px;
    border: 2px solid #be2627;
    position: relative;
    left:60px;
    word-spacing: 2px;
    line-height:30px;
    font-weight: 400;
    color:#000;
    margin-top:60px;
    float:right;
}

/*FOOTER*/

footer{
    padding-top: 20px;
    margin:0;
    position: relative;
    height:110px;
    background-color:#fff;
}

.social icons{
    display: inline-block;
    float: right;
}

.fb{
    position: relative;
    right:70px;
    height: 50px;
    float:right;
}

 
.insta{
    position: relative;
    top:4px;
    right:50px;
    height: 45px;
    float:right;
}
.content P{
    margin-left: 200px;
    color: #000;
    top:70px;
    position: relative;
    text-align: center;
    font-size:15px;
}